body {
  font-family: Arial;
}

.show {
  display: block;
  padding-left: 400px;
  padding-right: 400px;
  text-align: left;
}

.hide {
  display: none;
}

h1 {
  text-align: left;
  font-size: 30px;
  margin: 60px;
}

p {
  font-size: 20px;
  margin: 10px;
}

#startBtn {
  font-size: large;
  padding: 15px;
  background-color: pink;
}

.centerBtn {
  padding-left: 200px;
}

button {
  display: block;
  font-size: medium;
  padding: 15px;
  background-color: white;
}

#submit {
  display: inline-block;
  margin-left: 12px;
}

#saveInitials {
  height: 30px;
  width: 80px;
  font-size: 37px;
  text-align: center;
}