body {
  font-family: Arial;
  font-size: 120%;
}

.show {
  display: block;
  padding-left: 475px;
  padding-right: 475px;
  text-align: left;
}

.hide {
  display: none;
}

h1 {
  padding-bottom: 25px;
  padding-top: 40px;
}

#quizPage,
#QuizPageEnd,
#quizPageHighScores {
  text-align: center;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
}